.header {
    background-color: #52b3da;
    color: #3068ff;
    text-align: center;
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px;

}

.flex-item {
    flex: 1;
    border: 1px solid #4864eb;
    padding: 1rem;
    min-width: 265px;
}

.footer {
    background-color: #52b3da;
    color: #3068ff;
    text-align: center;
    padding: 1rem;
}